* {
    margin: 0;
    padding: 0;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input[type="submit"], 
input[type="text"], 
input[type="email"], 
input[type="tel"], 
input[type="radio"],
select,
textarea {
    font-family: "Poppins", sans-serif;
}

#name,
#email,
#phone {
    width: 200px;
}

body {
    padding-left: 20px;
    padding-top: 20px;
}

fieldset {
    padding-left: 14px;
    padding-bottom: 14px;
}

textarea {
    display: block;
}